services:
  warehouse-control_web-client:
    image: ghcr.io/golovanevvs/warehouse-control_web-client:${APP_VERSION:-latest}
    container_name: ${WEB_CLIENT_CONTAINER}
    environment:
      - NODE_ENV=production
      - PORT=${PORT}
    networks:
      - proxy

networks:
  proxy:
    external: true