services:
  calendar_main-server:
    image: ghcr.io/golovanevvs/calendar_main-server:${APP_VERSION:-latest}
    container_name: ${APP_CONTAINER}
    environment:
      - ENV=prod
      - APP_SERVICE_JWT_SECRET=${APP_SERVICE_JWT_SECRET}
      - APP_SERVICE_JWT_ACCESS_TOKEN_EXPIRY=${APP_SERVICE_JWT_ACCESS_TOKEN_EXPIRY}
      - APP_SERVICE_JWT_REFRESH_TOKEN_EXPIRY=${APP_SERVICE_JWT_REFRESH_TOKEN_EXPIRY}
      - APP_TRANSPORT_HTTP_PUBLIC_HOST=https://${PUBLIC_HOST_DOCKER}/${APP_CONTAINER}
      - APP_TRANSPORT_HTTP_WEB_PUBLIC_HOST=https://${PUBLIC_HOST_DOCKER}/${WEB_CLIENT_CONTAINER}
      - APP_TRANSPORT_HTTP_PORT=${APP_TRANSPORT_HTTP_PORT}
      - APP_REPOSITORY_FILE_STORAGE_DIR=${APP_REPOSITORY_FILE_STORAGE_DIR}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SSLMODE=${POSTGRES_SSLMODE}
      - POSTGRES_MASTER_PORT=${POSTGRES_MASTER_PORT}
      - POSTGRES_MASTER_HOST=${POSTGRES_MASTER_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - EMAIL_SMTP_HOST=${EMAIL_SMTP_HOST}
      - EMAIL_SMTP_PORT=${EMAIL_SMTP_PORT}
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_FROM=${EMAIL_FROM}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    networks:
      - proxy
    ports:
      - 7791:${APP_TRANSPORT_HTTP_PORT}

networks:
  proxy:
    external: true