services:
  webhook:
    image: almir/webhook:latest
    container_name: webhook-server
    command: -verbose -hooks=/etc/webhook/hooks.json -hotreload -ip=0.0.0.0 -port=9000
    volumes:
      - /c/Golovanev/Dev/Projects/wbtech-school-go/L3/L3.1/delayed-notifier/delayed-notifier_main-server/providers/webhook/hooks.json:/etc/webhook/hooks.json:ro
      - /c/Golovanev/Dev/Projects/wbtech-school-go/L3/L3.1/delayed-notifier/delayed-notifier_main-server/providers/webhook/deploy-script.sh:/etc/webhook/deploy-script.sh:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /c/Golovanev/Dev/Projects/wbtech-school-go/L3/L3.1/delayed-notifier/delayed-notifier_main-server/resources/deploy:/etc/webhook/deploy:ro
    ports:
      - "9000:9000"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.webhook.rule=Host(`virtually-treasured-iguana.cloudpub.ru`) && PathPrefix(`/webhook/deploy`)"
      - "traefik.http.routers.webhook.entrypoints=web"
      - "traefik.http.middlewares.webhook-strip.stripprefix.prefixes=/webhook/deploy"
      - "traefik.http.routers.webhook.middlewares=webhook-strip"
      - "traefik.http.services.webhook.loadbalancer.server.port=9000"

networks:
  proxy:
    external: true