services:
  delayed-notifier_main-server:
    image: ghcr.io/golovanevvs/shortener_main-server:${APP_VERSION:-latest}
    container_name: ${APP_CONTAINER}
    environment:
      - ENV=prod
      - APP_TRANSPORT_HTTP_PUBLIC_HOST=https://${PUBLIC_HOST_DOCKER}/${APP_CONTAINER}
      - APP_TRANSPORT_HTTP_WEB_PUBLIC_HOST=https://${PUBLIC_HOST_DOCKER}/${WEB_CLIENT_CONTAINER}
      - APP_TRANSPORT_HTTP_PORT=${APP_TRANSPORT_HTTP_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SSLMODE=${POSTGRES_SSLMODE}
      - POSTGRES_MASTER_PORT=${POSTGRES_MASTER_PORT}
      - POSTGRES_MASTER_HOST=${POSTGRES_MASTER_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - proxy
    ports:
      - 7779:${APP_TRANSPORT_HTTP_PORT}

networks:
  proxy:
    external: true