PUBLIC_HOST_DOCKER=incompletely-elemental-moonfish.cloudpub.ru

APP_VERSION=latest
APP_CONTAINER=comment-tree_main-server
APP_TRANSPORT_HTTP_PORT=7781

WEB_CLIENT_CONTAINER=comment-tree_web-client

POSTGRES_USER=golovanevvs
POSTGRES_PASSWORD=Indonesia@12
POSTGRES_SSLMODE=disable

POSTGRES_MASTER_PORT=5432
POSTGRES_MASTER_HOST=host.docker.internal

POSTGRES_DB=comment_tree