@echo off
echo ==================================================
echo    Starting sales-tracker_main-server deployment
echo    Time: %date% %time%
echo ==================================================
echo.

echo Changing to project directory...
cd /d "C:\Golovanev\Dev\Projects\wbtech-school-go\L3\L3.6\sales-tracker\sales-tracker_main-server\providers\deploy"

echo Stopping existing containers...
docker compose down

echo Pulling latest image...
docker compose pull

echo Starting new containers...
docker compose -p sales-tracker_main-server up -d

echo.
echo Checking container status...
docker ps --filter "name=sales-tracker_main-server"

echo.
echo ==================================================================
echo    sales-tracker_main-server deployment completed successfully!
echo ==================================================================
echo.

ping -n 3 127.0.0.1 > nul