POSTGRES_CONTAINER=postgres
POSTGRES_USER=golovanevvs
POSTGRES_PASSWORD=Indonesia@12
POSTGRES_SSLMODE=disable

POSTGRES_MASTER_PORT=5432
POSTGRES_MASTER_HOST=host.docker.internal

POSTGRES_DB=event_booker