[
  {
    "id": "delayed-notifier_main-server",
    "execute-command": "C:\\Golovanev\\Dev\\SDK\\webhook\\deploy-script.bat",
    "command-working-directory": "C:\\Golovanev\\Dev\\SDK\\webhook\\delayed-notifier_main-server",
    "response-message": "Deployment started",
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "",
        "parameter": {
          "source": "header",
          "name": "X-GitHub-Token"
        }
      }
    }
  }
]