services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    command:
      - '--collector.systemd'
      - '--collector.processes'
    pid: "host"      
    network_mode: "host"
  
  prometheus:
    image: prom/prometheus:latest
    container_name: ${PROMETHEUS_CONTAINER}
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - proxy
    ports:
      - 9090:9090

networks:
  proxy:
    external: true
    
volumes:
  prometheus_data:
